.dogetweets {
    margin-top: 10%;
	background: linear-gradient(to right, #30CFD0 0%, #330867 30%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

@media only screen and (max-width: 600px) {
	.dogetweets {
		margin-top: 20%;
		background: linear-gradient(to right, #30CFD0 0%, #330867 30%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	
	}
  }