.offcanvas {
    background-color: #212529;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.cardstyle {
    margin-top: 70px;

}

.individual-card-style {
    width: 18rem; 
    margin: 30px; 
    margin-top: 5px;
}

.card-img-top {
    padding-top: 15px;
    border-radius: 0.75rem
}

.card {
    background-color: #212529;
    color: white;
    border-radius: 0.75rem
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 4px;   /* Height of the footer */
}

.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 99.76076555023923,218.16267942583733 199.52153110047846,236.32535885167462 307,231 C 414.47846889952154,225.67464114832538 529.6746411483253,196.86124401913878 614,200 C 698.3253588516747,203.13875598086122 751.7799043062201,238.22966507177034 848,256 C 944.2200956937799,273.77033492822966 1083.2057416267942,274.2200956937799 1189,262 C 1294.7942583732058,249.7799043062201 1367.3971291866028,224.88995215311004 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 67.61722488038276,175.311004784689 135.23444976076553,150.622009569378 248,159 C 360.76555023923447,167.377990430622 518.6794258373205,208.822966507177 608,236 C 697.3205741626795,263.177033492823 718.0478468899523,276.0861244019139 815,273 C 911.9521531100477,269.9138755980861 1085.1291866028707,250.83253588516746 1202,236 C 1318.8708133971293,221.16746411483254 1379.4354066985647,210.58373205741628 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 125.55980861244021,194.44019138755982 251.11961722488041,188.8803827751196 327,186 C 402.8803827751196,183.1196172248804 429.08133971291863,182.91866028708137 525,205 C 620.9186602870814,227.08133971291863 786.555023923445,271.444976076555 893,266 C 999.444976076555,260.555023923445 1046.6985645933014,205.30143540669854 1128,186 C 1209.3014354066986,166.69856459330146 1324.6507177033493,183.34928229665073 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 90.72727272727272,220.35406698564594 181.45454545454544,240.70813397129186 275,233 C 368.54545454545456,225.29186602870814 464.9090909090909,189.52153110047846 576,189 C 687.0909090909091,188.47846889952154 812.9090909090909,223.20574162679426 906,235 C 999.0909090909091,246.79425837320574 1059.4545454545455,235.65550239234452 1143,226 C 1226.5454545454545,216.34449760765548 1333.2727272727273,208.17224880382776 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 99.76076555023923,218.16267942583733 199.52153110047846,236.32535885167462 307,231 C 414.47846889952154,225.67464114832538 529.6746411483253,196.86124401913878 614,200 C 698.3253588516747,203.13875598086122 751.7799043062201,238.22966507177034 848,256 C 944.2200956937799,273.77033492822966 1083.2057416267942,274.2200956937799 1189,262 C 1294.7942583732058,249.7799043062201 1367.3971291866028,224.88995215311004 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
  }