<!-- <div class="custom-shape-divider-top-1640446306">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" opacity=".5" class="shape-fill"></path>
  </svg>
</div>
 -->

 <div class="custom-shape-divider-top-1640447478">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" opacity="0.5" class="shape-fill"></path>
  </svg>
</div>

<div class="container  justify-content-center" style="margin-top: 10%; position: relative;">
    <div class="row" style="margin-top: 20%">
      <div class="col">
        <p class="display-1 titlestyle" style="font-weight: 700; color: rgba(255, 255, 255, 0.8);">InDoge NFTs</p>
        <h1 style="font-size:xx-large;font-weight: 200; color: rgba(255, 255, 255, 0.6);">
          Digitally Hand drawn #Doge NFTs lying on Binance Smart Chain Blockchain, drops every week in WazirX NFT Store.
        </h1>
      </div>
      <div class="col container justify-content-center flip-in-hor-top">
        <div class=" individual-card-style">
            <img src="../assets/Doge-Home.gif" class="card-img-top col-lg-4 col-md-3 col-sm-12" alt="...">

        </div>
    </div>
</div>




<app-latest-drops></app-latest-drops>
<app-rewardsprogram></app-rewardsprogram>
